<launch>
  <arg name="name" default="$(env RM_NAME '')"/>
  <arg name="robot_ip" default="$(env RM_ROBOT_IP '')"/>
  <arg name="discovery_timeout" default="3.0"/>
  <arg name="appid" default="$(env RM_APPID 'b6359877')"/>
  <arg name="backend_path"
    default="$(env HOME)/ros2_ws/src/robomaster_ros/robomaster_s1_wifi_sdk/LAB-SDK"
    description="Path containing the LAB robomaster Python package"/>
  <arg name="conn_type" default="sta"/>
  <arg name="with_model_description" default="true"/>
  <arg name="audio" default="2"/>
  <arg name="audio_raw" default="$(var audio)"/>
  <arg name="audio_opus" default="$(var audio)"/>
  <arg name="audio_level" default="$(var audio)"/>

  <include file="$(find-pkg-share robomaster_ros)/launch/main.launch">
    <arg name="name" value="$(var name)"/>
    <arg name="model" value="s1"/>
    <arg name="sdk_backend" value="lab"/>
    <arg name="backend_path" value="$(var backend_path)"/>
    <arg name="robot_ip" value="$(var robot_ip)"/>
    <arg name="discovery_timeout" value="$(var discovery_timeout)"/>
    <arg name="appid" value="$(var appid)"/>
    <arg name="conn_type" value="$(var conn_type)"/>
    <arg name="with_model_description" value="$(var with_model_description)"/>
    <arg name="audio" value="$(var audio)"/>
    <arg name="audio_raw" value="$(var audio_raw)"/>
    <arg name="audio_opus" value="$(var audio_opus)"/>
    <arg name="audio_level" value="$(var audio_level)"/>
    <arg name="speaker" value="false"/>
    <arg name="chassis_status_rate" value="0"/>
    <arg name="video_resolution" value="720"/>
  </include>
</launch>
